* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
 
.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}
 
.principal {
	
	padding: 50px 0;
	width: 100%;
	height: 152px;
	border-radius: 10px;
}
 
.principal .formulario {
	color: #212121;
	text-align: center;
}
 
.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 8px;
	width: 100%;
	border-radius: 10px;
}
 
.principal .formulario input[type=text].error {
	border: 3px solid rgb(192, 20, 72);
	color: red;
}
 
.principal .formulario .boton {
	background: none;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	padding: 8px;
	background-color: rgb(12, 11, 11);
	border-radius: 10px;
}
 
.principal .formulario .boton:hover {
	background: rgba(92, 89, 82, 0.9);
}
 
/* - Tareas - */
.tareas .lista {
	list-style: none;
}
 
.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}
 
.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
	font-size: 12px;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
	color:orange;
}


@media (min-width: 1200px){
.contenedor {
	width: 300%;
	max-width: 1000px;
	margin: 20px auto;
}
}

.contenedor .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	line-height: 40px;
	border: none;
	color: #000000;
	background: rgb(23, 211, 180);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
	border-radius: 10px;
	
}

.contenedor .btn-abrir-popup:hover {
	background: rgba(130, 226, 213, 0.9);
}



/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: red;}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
	color: #000;
}

.popup h4 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
	color: #212121;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}
/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}